
/* Set a maximum width for the site */
.content{
  max-width:800px;
  margin:auto;
}
.container H1{
    text-align:center;
    word-spacing:1px;
    color:indigo;
    
}
header{
    border:1px black solid;
    border-radius:5px;
    background:yellow;

}
header a:hover{
  text-decoration:none;
}
/* Place ads in a prominent location */
.ad {
  text-align: center;
  margin-bottom: 20px;
}

/*navigation bar */
ul{
  border:1px solid black;
  border-radius:5px;
  list-style: none;
  display:flex;
  color:blue;
  align-items:center;
  justify-content:cneter;
  padding:auto;
  margin:2px 0;
}
li{
    margin:0 10px;
    padding:0 20px;
}
nav a{
    text-decoration:none;
    color:black;
    font-weight:bold;
}

li a:hover{
    color:white;
    background:rgb(0, 0, 0);
    border-radius:4px;
}

/* content */
.content{
  border:1px solid black;
  
}

.container h2{
    padding-left:10px;
    text-decoration:underline;
}
.num div{
    display:inline-block;


  }

  .articles{
    
    background:lightgrey;
    border-radius:15px;
    width:790x;
  }
  .num{
      
      margin:auto;
      align-items:center;
      display:flex;
  }
  img{
     width:180px;
     height:120px;
     margin-left:100px;
     padding:30px;
     border-radius:50px;

  }
.two{
      float:right;
  }
  .one{
      padding:20px;
      font-size:22px;
  }
  a{
    text-decoration:none;
  }
  a:hover{
    text-decoration:underline;
  }

  footer{
    background:rgb(33, 33, 71);
    margin-bottom:0px;
    margin:auto;
    border-radius:8px;
  }
  footer div{
    color:white;
  }
  
.flinks div{
  display:inline-block;
  text-align:center;
  margin:auto;
}
.flinks{
  display:flex;
}
.contact{
  padding-left:30%;
}
.disclaimer{
  padding-right:30%;
}
.copyright{
  margin:auto;
  text-align:center;
  padding:0 0 10px 0;
}
.flinks a{
  color:white;
}