@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@500&display=swap');

.container{
    max-width:950px;
    margin:auto;
    border:2px solid darkblue;
    border-radius:8px;
}
.content{
    max-width:800px;
    margin:auto;
}
.title{
    background:yellow;
    border:1px solid black;
    border-radius:8px;
    padding:5px 0 5px 0;

}
.title a:hover{
    text-decoration:none;
}
.title h1{
    text-align:center;
}
.content_title{
    text-align:center;
}
.content p{
    text-indent:30px;
    line-height:29px;
    font-size:23px;
    word-spacing:2px;
}
.requirements{
    background:lightgreen;
    padding:10px 0 10px 0;
}
.requirements h3{
    text-align:center;
    font-size:25px;
}
.requirements li{
    font-size:20px;
    padding-left:100px;
    padding: 0 0 10px 0;
}
.image img{
    height:400px;
    width:90%;
    padding-left:5%;
}
.content_para img{
    height:350px;
    width:80%;
    padding-left:10%;
    padding-bottom:25px;
}
.content_para{
    padding-left:15px;
}
.content_para p{
    text-indent:30px;
    line-height:29px;
    font-size:23px;
    word-spacing:2px;
}
.footer{
    background:black;
    padding:20px 0 2px 0;
    color:white;
}
.footerlinks div{
    display:inline-block;
    padding:0 0 0 5%;
}
.footer P{
    text-align:center;
    font-size:15px;
    margin-bottom:5px;
}

a{
    text-decoration:none;
  }
  a:hover{
    text-decoration:underline;
  }
.footer a{
    color:white;
}

.l2{
    width:17%;
}
.l3{
    width:19%;
}
.l4{
    width:10%;
}
.l5{
    width:18%;
}
p,h2{
    font-family: 'Nunito', sans-serif;
}